<div class="card col-3 p-1 m-0"   >
  <img class="w-100 rounded" style="height: 30%;" name="companyImage" value="<%= element.image1 %>" src="<%= element.image1 %>" class="card-img-top" alt="...">
  <div class="card-body">
        <h3 class="card-title" data-hotelTariffs="${result[i].tariffDetails}" style="text-transform: uppercase"> <%= element.lastName %></h3> <small class="card-text" style="text-transform: uppercase; height: fit-content;"  ><%= element.district %> </small> <br>
        <small class="card-text bi bi-telephone-fill" style="height: fit-content;"  > <%= element.contactNumber %></small><br>
        <small class="card-text bi bi-envelope-at"  style="height: fit-content;"  >  <%= element.email %> </small>
        <div class="d-flex justify-content-center">
          <h6 class="bi bi-star-fill text-warning"></h6>
          <h6 class="bi bi-star-fill text-warning"></h6>
          <h6 class="bi bi-star-fill text-warning"></h6>
          <h6 class="bi bi-star-fill"></h6>
          <h6 class="bi bi-star-fill"></h6>
        </div>
        <small class="card-text" ><%= element.Companydiscription %></small>
    </div>
  <div class="card-footer">
          <button name="submitCompanyDetails" value="<%=element.CompanyID%>"  onclick="loadHotelBasedResult(event.target.value)" type="button" value="<%=  element.CompanyID  %>" class="btn btn-primary">Details</button>
  </div>
</div>
