<%- include('header') %>
                <!-- Contact Start -->
                <div class="container" id="contact">
                  <div class="">
                      <div class="content-header">
                          Contact
                      </div>
                      <div class="row align-items-center">
                        <div class="col-md-6">
                          <div class="contact-info">
                            <div style="opacity: 0;" class="input-group mb-3">
                              <span class="input-group-text col-3">
                                COMPANY INDEX   
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id=""> 
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                NAME 
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                GSTIN 
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                 ROOM NUMBER
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                STREET NAME</h6> 
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                AREA NAME
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                CITY 
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                DISTRICT 
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                STATE
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                EMAIL 
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                CONTACT NUMBER  
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                WEBSITE
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                            <div class="input-group mb-3">
                              <span class="input-group-text col-3">
                                 BANNER
                                
                              </span>
                              <input class=" text-secondary form-control" type="text" name="" id="">
                            </div>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                

                                  <div class="social">
                                      <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                      <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                      <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                      <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                      <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form">
                                  <form>
                                      <div class="form-row">
                                          <div class="form-group col-md-6">
                                              <input type="text" class="form-control" placeholder="Your Name" />
                                          </div>
                                          <div class="form-group col-md-6">
                                              <input type="email" class="form-control" placeholder="Your Email" />
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <input type="text" class="form-control" placeholder="Subject" />
                                      </div>
                                      <div class="form-group">
                                          <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                                      </div>
                                      <div><button class="btn" type="submit">Send Message</button></div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Contact End -->          
<%- include('footer') %>              