
<nav class="navbar navbar-expand-lg border navbar-dark" style="background-color: rgb(86,99,86);">
    <div class="container-fluid  btn d-flex w-100">
        <ul class="navbar-nav  ">
            <li class="nav-item">
                <form action="/floorMaster/floors" method="get">
                    <button class="btn  rounded text-light fw-bold button  " type="submit">
                        FLOOR
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/rooms/rooms" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        ROOMS
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/roomType/tariff" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        TARIFF
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/checkinplan/plan" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        PLANS
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/Human/human" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        USERS
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/floorMap/floorMap" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        FLOORMAP
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/facilty/facilty" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        SERVICES
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/checkin" method="get">
                    <button class="btn  rounded text-light fw-bold button" type="submit">
                        CHECKIN
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/Company/company" method="get">
                    <button class="btn   rounded text-light fw-bold button" type="submit">
                        COMPANIES
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <form action="/Company/company" method="get">
                    <button class="btn   rounded text-light fw-bold bi bi-power" onclick="logout()" type="button">
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<script src="/Script/Script.js"> </script>