
<div class="container-fluid d-flex  >
    <div class="container menubar btn-group ">
        <form action="/floorMaster/floors" method="get">
            <button class="btn btn-secondary fw-bold  button " > <h6>FLOOR</h6></button>
        </form>
        <form action="/rooms/rooms" method="get">
            <button class="btn btn-secondary fw-bold  button " > <h6>ROOMS</h6></button>
        </form>
        <form action="/roomType/tariff" method="get">
            <button class="btn btn-secondary fw-bold  button " > <h6>TARIFF</h6></button>
        </form>
        <form action="/checkinplan/plan" method="get">
            <button class="btn btn-secondary fw-bold  button" > <h6> PLANS</h6> </button>
        </form>
        <form action="/Human/human" method="get">
            <button class="btn btn-secondary fw-bold  button" > <h6> USERS</h6> </button>
        </form>
        <form action="/floorMap/floorMap" method="get">
            <button class="btn btn-secondary fw-bold  button" > <h6> FLOORMAP</h6> </button>
        </form>
        <form action="/facilty/facilty" method="get">
            <button class="btn btn-secondary fw-bold  button" > <h6> SERVICES </h6> </button>
        </form>
        <form action="/checkin" method="get">
            <button class="btn btn-secondary fw-bold  button" > <h6> CHECKIN</h6> </button>
        </form>
        <form action="/Company/company" method="get">
            <button class="btn btn-secondary fw-bold  button" > <h6> COMPANIES</h6> </button>
        </form>
            <button class="btn btn-secondary fw-bold bi bi-power" onclick="logout()" value="but" type="button">  </button>
       

 
        
    </div>
    <div>
        
    </div>
    <script>
        
    </script>
  