<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
 
<form action="/vedurehomepage/loadhomepage" method="post">
    <div class="modal fade mr-2 " id="VendureLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content" style="background-color: rgba(255, 250, 245, 0.738) ; height: 350px ; width:400px;">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> 
            <div class="modal-body">
            <div>
                <small>Email</small>
            </div>
            <div class="input-group flex-nowrap mb-1">
                <button class="btn btn-light bi bi-telephone-fill col-2"></button> <button class="btn-light btn bi bi-envelope-at-fill col-2" ></button>
                <input type="text" name="userName" id="idUserNameVendure " class="btn btn-light" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap  ">
            <span class="btn btn-light col-4" >Password</span>
            <input type="password" name="password" id="idUserPasswordVendure" class="btn btn-light" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
            </div>
            </div>..
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#resetPassword">ChangePassword</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Sign in </button>
            </div>
        </div>
        </div>
    </div>
</form>
<div class="modal fade modal-lg" id="resetPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: rgba(255, 250, 245, 0.738);">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <label for="">Change Password</label>
  
            <div class="input-group mb-3   ">
              <span class="input-group-text col-4 " id="basic-addon1">email/Mobile</span>
              <input type="text" id="idVerifyEmail-Phone" class="form-control" onchange="verifyEmail('idVerifyEmail-Phone','Signup_Email_Btn','/VerifyEmail')" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              <button id="Signup_Email_Btn" class="btn"></button>
            </div>
  
            <div class="input-group mb-3" id="idValidateUserWithPassword" >
              <span class="input-group-text col-4 " id="idResetPassword">Old Password</span>
              <input id="idCurrentPassword" type="password" onchange="validateUserwithPassword('idVerifyEmail-Phone' ,'idCurrentPassword','idVerifieOldPassword','idNewPasswordtext','idRetypePasswordtext')" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
              <button id="idVerifieOldPassword" class="btn"></button>
            </div>
  
            <div class="input-group mb-3" hidden id="idDivValidatewithOtp" >
              <span class="input-group-text col-4  " id="idDivTryWithOTP">OTP</span>
              <input id="idnewOtp" type="password" onchange="validateuserUsingOtp('idVerifyEmail-Phone','idnewOtp','idnewOtpBtn','idNewPasswordtext','idRetypePasswordtext')" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon3">
              <button id="idnewOtpBtn" class="btn"></button>
            </div>



            <div class="input-group mb-3" id="idDivTryWithOtp">
                <span class="input-group-text col-4  " id="basic-addon3">New Password</span>
                <input id="idNewPasswordtext" readonly type="password" onchange="verifyPassword('idNewPasswordtext','idNewPasswordbtn')" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon3">
                <button id="idNewPasswordbtn" class="btn"></button>
              </div>
  
            <div class="input-group mb-3"id="idDivRetypePassword" >
              <span class="input-group-text col-4  " id="basic-addon4">Retype Password</span>
              <input id="idRetypePasswordtext" readonly type="password" onchange="matchPassword('idNewPasswordtext','idRetypePasswordtext','idRetypePasswordbtn')" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon4">
              <button id="idRetypePasswordbtn" class="btn"></button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="tryOtp( 'idValidateUserWithPassword','idDivValidatewithOtp','idVerifyEmail-Phone','idbtResendOtp')" id="idbtResendOtp"    class="btn btn-light">try OTP </button>
          <button type="button" onclick="changeaPassword('idVerifyEmail-Phone','idNewPasswordtext')" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  
<form   action="/authenticate/custLogin" method="post">
    <div class="modal fade mr-2" id="customerLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog "> <!-- Change modal-lg to modal-xl for an extra-large modal -->
            <div class="modal-content" style="background-color: rgba(72, 93, 74, 0.84); width:400px;">
            <div class="modal-header">
                <h5 class="modal-title txt text-light" id="exampleModalLabel">Sign in</h5> <br>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> 
            <div class="modal-body ">
                <div class="container-fluid  col-12">
                    <small class="modal-title txt text-warning" id="exampleModalLabelHead"></small> <br>
                    <small class="txt text-light">Email</small>
                </div>
                <div class="container-fluid  col-12 input-group ">
                    <button class="btn-light btn bi bi-envelope-at-fill col-4" >Email</button>
                    <input type="email" name="userName" id="idUserNameCustomer" class="btn btn-light col-8" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="container-fluid col-12">
                    <small class="txt text-light">Password</small>
                </div>
                <div class="container-fluid col-12 input-group  ">
                    <button class="btn btn-light col-4 bi bi-key col-4" >Password</button> 
                    <input type="password" name="password" id="idUserPasswordcustomer" class="btn btn-light col-8" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#resetPassword">ChangePassword</a>
            <a data-bs-toggle="modal" data-bs-target="#resetPassword"  >ChangePassword</a>
            <button type="button" onclick="signinCustomer('exampleModalLabelHead')" class="btn btn-success">Sign in </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#customerRegister">Signup </button>
            
            </div>
        </div>
        </div>
    </div>
</form> 

<!-- Modal -->
<div class="modal fade btn" id="customerRegister" style="  background-color: rgba(128, 109, 0, 0.408);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " >
      <div class="modal-content"  >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/authenticate/signUp" method="post">  
            
            <div class="container btn justify-content-evenly "     >
                <div class="container-fluid col-sm-12 "   >
                     
                    <h6 id="IdInfoText"></h6>
                    <div class="container-fluid border-light d-flex rounded mb-3"  >
                        <button class="border-0 rounded-start col-4" id="basic-addon1">Name</button>
                        <input type="text"  class=" rounded-end form-control" id="Signup_name_text" name="name" placeholder="Name" required>
                    </div>
                    <!-- ************ -->
                    <div class="container-fluid border-light d-flex rounded mb-3">
                         
                        <button class="border-0 rounded-start col-4" id="Signup_input_group_text">Email</button>
                        <input id="Signup_Email_text" type="email" onchange="verifyEmail('Signup_Email_text','Signup_Email_Bt','/new');" class="form-control" name="email" placeholder="Email" required>
                        <button id="Signup_Email_Bt" type="button" class="btn btn-outline-success bi bi-search"
                            onclick="verifyEmail('Signup_Email_text','Signup_Email_Bt','/new');"></button>
            
                    </div>
                    <!-- ************ -->
                    <div class="container-fluid border-light d-flex rounded mb-3">
                        <button class="border-0 rounded-start col-4">Phone</button>
                        <input id="Signup_Email_Phone" onchange="verifyphone('Signup_Email_Phone')" type="number" class="form-control" name="phone" placeholder="Phone" required>
                        <button id="Signup_phone_Bt" type="button" onclick="verifyphone('Signup_Email_Phone')"
                            class="btn btn-outline-success bi bi-search"></button>
                    </div>
                    <!-- ************ -->
                    <div class="container-fluid border-light d-flex rounded mb-3">
                      
                        <button class="border-0 rounded-start col-4 ">Username</button>
                       <input type="text " id="Signup_User_Name" onchange="verifyUser('Signup_User_Name')" class="form-control " name="username" placeholder="Username"
                        required>
                        <button id="Signup_username_Bt" type="button" onclick="verifyUser('Signup_User_Name')"
                            class="btn btn-outline-success bi bi-search "></button>
                        </div>
                    <!-- ************ -->
                    <div class="container-fluid border-light d-flex rounded mb-3">
                            <button class="border-0 rounded-start col-4 " required>Password</button>
                            <input autocomplete="new-password" onchange="verifyPassword('User_Login_password','verifyPassword_Bt' )" onselect="nothing()" id="User_Login_password"
                            type="password" class="form-control" name="password" placeholder="password">
                            <button id="verifyPassword_Bt" type="button" onclick="verifyPassword('Signup_User_Name','verifyPassword_Bt')"
                            class="btn btn-outline-success bi bi-search "></button>
                    </div>
            
                </div>
                <div class="container-fluid d-flex flex-wrap">
                    <div class=" container-fluid d-flex flex-wrap col-sm-12">
                        <button id="Bt_Save_Signup" onclick="verifyandupdate()" type="button"
                            class="btn btn-success  col-sm-12 m-1 col-lg-2 bi bi-cursor-fill" value="signup"> SAVE </button>
                        <button id="Bt_Cancel_signup" onclick="CancelEntry()" type="button"
                            class="btn btn-danger  col-sm-12 m-1 col-lg-2 bi bi-x-square"> CANCEL </button>
                        <button id="Bt_verifyOtp"  data-bs-toggle="modal" data-bs-target="#idEnterOtp" type="button"
                            class="btn btn-primary col-lg-3   col-sm-12 m-1 bi-envelope-check-fill"> VALIDATE </button>
                        <button id="Bt_Login_back" onclick="loadHome()" type="button"
                            class="btn btn-success col-sm-12 m-1 col-lg-2 bi bi-person-square">LOG-IN </button>
                    </div>
                </div>
                <br>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>

<!-- OTP Modal -->
<div class="modal fade btn" id="idEnterOtp" style="background-color: rgba(128, 109, 0, 0.408);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " >
      <div class="modal-content"  >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Verify Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/authenticate/signUp" method="post">  
            
            <div class="container btn justify-content-evenly "     >
                <div class="container-fluid "   >
                     
                     
                    
                    <!-- ************ -->
                    <div class="container-fluid border-light d-flex rounded mb-3">
                         
                        <button class="border-0 rounded-start col-4" id="Signup_input_group_text">Email</button>
                        <input id="idverify_Email" type="email" onchange="verifyEmail('idverify_Email','idSignup_Email_Btn10','/VerifyEmail')"    class="form-control " name="email" placeholder="Email" required>
                        <button id="idSignup_Email_Btn10" class="btn"></button>
            
                    </div>
                    
                    <!-- ************ -->
                    <div class="container-fluid border-light d-flex rounded mb-3">
                            <button class="border-0 rounded-start col-4 " required>OTP</button>
                            <input autocomplete="new-password"    id="id_otp"
                            type="text" class="form-control" name="password" placeholder="password">
                            <button   class="btn"></button>
                    </div>
            
                </div>
                <div class="container-fluid d-flex flex-wrap  ">
                    <div class="container-fluid  d-flex flex-row  ">
                        <button id="Bt_Save_Signup"   type="button"
                            class="btn btn-success  bi bi-cursor-fill" onclick="verifyOtp('validate')"  value="signup"> SUBMIT </button>
                        <button id="Bt_resendOtp"   type="button" onclick="resendOtp('idverify_Email','Bt_resendOtp')"
                            class="btn btn-danger "> SEND OTP </button>
                        <button id="Bt_signinOtp"  data-bs-toggle="modal" data-bs-target="#customerLogin" type="button" class="btn btn-primary  bi bi-envelope-check-fill"> LOG-IN  </button>
                        <button id="openResetModal"  data-bs-toggle="modal" data-bs-target="#resetPasswordafterOtp" style="display: none;" type="button" class="btn btn-warning bi bi-x-square"> LOG-IN  </button>
                   </div>
                </div>
                <br>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div> 
 
</body>
</html>
<!-- reset Password After Otp Verification -->

<div class="modal fade modal-lg mr-2 col-sm-12" id="resetPasswordafterOtp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">       
    <div class="modal-dialog modal-lg col-sm-12"> <!-- Add modal-lg class to the modal-dialog -->
        <div class="modal-content col-sm-12" style="background-color: rgba(255, 250, 245, 0.738); height: 100%; width: 600px;"> <!-- Adjust height and width as needed -->
            <div class="modal-header  col-sm-12">
                <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div class="modal-body col-sm-12">
               <div class="container-fluid border border-light align-item-centre col-sm-12 ">
                <label for="">Change Password</label>
                
                    <div class="input-group mb-3 col-sm-12">
                        <span class="input-group-text col-4" id="basic-addon1">email/Mobile</span>
                        <input type="text" id="idVerifyEmailOtp1" class="form-control" onchange="verifyEmail('idVerifyEmail-Phone','Signup_Email_Btn','/VerifyEmail')" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        <button id="Signup_Email_Btn" class="btn"></button>
                    </div>
                    <div class="input-group mb-3  col-sm-12">
                        <span class="input-group-text col-4" id="basic-addon1">New Password</span>
                        <input id="idNewPasswordtextotp"  type="password" onchange="verifyPassword('idNewPasswordtextotp','idNewPasswordbtnotp') " class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        <button id="idNewPasswordbtnotp" class="btn"></button>
                    </div>
                    <div class="input-group mb-3  col-sm-12">
                        <span class="input-group-text col-4" id="basic-addon1">retype Password</span>
                        <input id="idRetypePasswordtextotp" type="password" onchange="matchPassword('idNewPasswordtextotp','idRetypePasswordtextotp','idRetypePasswordbtn')" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        <button id="idRetypePasswordbtnotp" class="btn"></button>
                    </div>                          
               </div>

            </div>
            <div class="modal-footer col-sm-12">
                <button type="button"  onclick="changeaPassword('idVerifyEmailOtp1','idNewPasswordtextotp')"  class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#"> Submit </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Signup -->
  
<!-- End signup -->
<script src=" /Script/modal.js"> </script>
<script src="/Script/Script_Signup.js"> </script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- vendure login ends here  -->