
<%- include('header') %>
<form action="/authenticate/signUp" method="post"></form>

<div class="container col-4 justify-content-evenly  " style="margin-top: 15%;">
    
     
    <div class="container" style="margin-top: 5%;margin-bottom: 5%;">
        <div class="container-fluid col-5">
            <label class="font-weight-light ">SIGN-UP</label>
            
        </div>
        <h6 id="IdInfoText" ></h6>
        <div class="input-group mb-3" style="margin-top: 15%;">
            
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
        <input type="text" class="form-control" id="Signup_name_text" name="name" placeholder="Name" required>
        </div>
        <!-- ************ -->
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="Signup_input_group_text" >Email</span>
            </div>
            <input id="Signup_Email_text" type="email" class="form-control" name="email"   placeholder="Email" required>
            <button id="Signup_Email_Bt" class="btn btn-outline-success bi bi-search" onclick="verifyEmail('Signup_Email_text','Signup_Email_Bt');" ></button>
        
        </div>    
        <!-- ************ -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text col-12">Phone</span>
                </div>
                <input id="Signup_Email_Phone"  type="number" class="form-control"  name="phone" placeholder="Phone" required>
                <button id="Signup_phone_Bt"   onclick="verifyphone('Signup_Email_Phone')" class="btn btn-outline-success bi bi-search"></button>
        
            </div>
        <!-- ************ -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text col-12 ">Username</span>
                </div>
                <input type="text " id="Signup_User_Name" class="form-control " name="username" placeholder="Username" required>
                <button id="Signup_username_Bt" onclick="verifyUser('Signup_User_Name')" class="btn btn-outline-success bi bi-search "></button>
        
            </div>
        <!-- ************ -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text col-12 " required>Password</span>
                </div>
                <input autocomplete="new-password" onchange="verifyPassword()" onselect="nothing()" id="User_Login_password" type="password" class="form-control" name="password" placeholder="password">
        </div>
        
        </div>
                <div class=" d-flex">
                    <div class="  d-flex flex-row col-8" >
                    <button id="Bt_Save_Signup" onclick="verifyandupdate()" type="button" class="btn btn-outline-success col-4  bi bi-cursor-fill" value="signup"></button>
                    <button id="Bt_Cancel_signup" onclick="CancelEntry()" type="button"  class="btn btn-outline-warning col-4 bi bi-x-square"> </button>
                    </div>
                    <div class=" container-fluid d-flex flex-row-reverse col-4" >
                    <button id="Bt_Login_back" onclick="loadHome()" type="button"  class="btn btn-outline-primary col-10 bi bi-person-square"> </button>
                    </div>
                </div>
                <br>
            
    </div>
</form>
<script src="/Script/Script_Signup.js"> </script>
