<button type="button" id="ModalButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body" id="modalBody">
              <!-- Data will be loaded here -->
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Add an event listener to the button that triggers the modal
  $('#ModalButton').click(function () {
      // Make an AJAX request to fetch server-side data
      $.ajax({
          url: 'your_server_endpoint_url',
          method: 'GET',
          dataType: 'html', // Change this to match the data type you expect
          success: function (data) {
              // Populate the modal body with the fetched data
              $('#modalBody').html(data);
          },
          error: function (error) {
              console.error('Error fetching data:', error);
          }
      });
  });
</script>
